@media (max-width: 575.98px) {
  body {
    padding-top: 5px !important;
  }

  .row {
    margin: 5px !important;
  }

  .social-buttons a i {
    box-shadow: none !important;
  }

  .contact,
  .social-icons {
    padding: 10px !important;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}

:root {
  --light: #f2a07b;
  --dark: #31112c;
  --text-dark: #31112c;
  --text-light: #7d0633;
  --accent: #fbdcc4;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.raised-shadow {
  box-shadow: 0 2px 7px -5px #000000;
}

.long-shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.glass {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
}

.social-icons a i:hover,
.contact a:hover {
  color: var(--text-dark);
  transform: scale(1.05);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.arewa-pattern {
  height: 100vh;
  z-index: -10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* NAV */

.navbar {
  background-color: transparent !important;
}

.navbar-brand {
  color: var(--text-dark) !important;
  font-size: 30px;
}

.nav-item {
  margin: 0 10px 0 10px;
  padding: 0 5px 0 5px;
}

.nav-link {
  color: var(--text-dark) !important;
}

.nav-item:hover {
  border-radius: 5px;
  background-color: rgba(215, 215, 208, 0.85);
}

/* ABOUT */
.display-5 {
  margin: 20px 0 20px 0;
}
.who-we-are {
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
  background-color: #7d063308;
  border-radius: 0 0 20px 20px;
  color: var(--dark);
  padding: 10px;
  margin: 10px;
}

/* PROJECTS*/

.projects {
  height: 50vh;
  color: var(--dark);
  padding: 10px;
  margin: 10px;
}

/* SOCIAL BUTTONS */

.social-buttons ul > li {
  margin: 10px;
}

.social-buttons a i {
  color: var(--dark);
  font-size: 35px;
  padding: 15px;
  border-radius: 20px;
  background-color: #fafafa;
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
}

.social-buttons li {
  transition: ease;
  transition-delay: 0ms;
  transition-duration: 0.12s;
}

.social-buttons a i:hover {
  color: white;
  background-color: var(--text-dark);
}
.social-buttons li:hover {
  transform: scale(1.08);
}

.end {
  /* position: absolute;
  bottom: 0;
  margin-bottom: 0; */
  padding: 10px;
}
